@import'./base/variables';

*{
    margin: 0;
    padding: 0;
}
.active{
    display: block;
}

nav{
    width: 100;
    background-color: $c1;
    padding: 1% 10%;
    display: grid;
    grid-template-columns: 0.5fr 0.2fr 2fr 0.4fr 0.4fr;
    align-items: center;
    text-align: center;
    form{
        .btn-outline-success{
            border: solid 2px $c4;
            color: $c4;
            &:hover{
                background-color: $c2;
                border: solid 2px $c2;
                transition: ease 1s;
            }
        }
    }
    a{
        text-decoration: none;
        color: $c4;
        font-size: 16px;
        text-align: center;
        align-items: center;
        &:hover{
            color:$c2;
            transition: ease 1s;
        }
        i{
            font-size: 26px;
            padding-right: 6px;
        }
        img{
            width: 100%;
        }
    }
}

header{
    .menu{
        width: 1000px;
        height: 300px;
        background-color: greenyellow;
        margin: 10px auto;
        z-index: 1000;
        display: none;
    }
}
main{
    z-index: 2;
    .contenedor{
        z-index: 3;
        padding-top: 2%;
        .principal{
            display: grid;
            justify-content: center;
            grid-template-rows: 0.3fr 1fr 0.3fr;
            .caracteristicas{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                padding: 0% 10%;
                gap: 15px;
                margin-bottom: 10px;
                .item{
                    display: grid;
                    grid-template-columns: 0.5fr 1fr;
                    align-items: center;
                    text-align: center;
                    justify-items: center;
                    img{
                        width: 60%;
                    }
                    .texto{
                        h2{
                            font-size: 20px;
                        }
                        p{
                            font-size: 14px;
                        }
                    }
                }
            }
            .carouselExampleIndicators{
                width: 100%;
            }
            .marcas{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
                padding: 0 10%;
                margin-top: 20px;
                .item{
                    width: 150px;
                    height: 150px;
                    justify-items: center;
                    align-items: center;
                    a{
                        img{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}